@font-face {
    font-family: PeaEllieBellie;
    src:url("../fonts/PeaEllieBellie/peaelliebellie.eot");
	src:url("../fonts/PeaEllieBellie/peaelliebellie.eot") format("eot"),url("../fonts/PeaEllieBellie/peaelliebellie.woff") format("woff"),url("../fonts/PeaEllieBellie/peaelliebellie.ttf") format("truetype"),url("../fonts/PeaEllieBellie/peaelliebellie.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}