// PALETTE VARIABLES
$teal: #27bec5;
$teal-shade: #1d8f94;
$tangerine: #fe9247;
$tangerine-shade: #bf6e35;
$fuschia: #fc5185;
$fuschia-shade: #bd3d64;
$sunflower: #ffcf00;
$sunflower-shade: #bf9b00;
$aqua: #00c0ed;
$aqua-shade: #0090b2;
$tan: #e3dbd5;
$off-white: #eaedf1;
$light-gray: #acadae;
$gray: #757678;
$dark-gray: #3a3b3c;
$deep-gray: #2c2c2d;
$input-bg-color: #e5e8ec;
$input-type-color: #9c9d9d;

// FONT VARIABLES
$museo-family: "museo-sans-rounded", Helvetica, sans-serif;
$pea-ellie-bellie-family: PeaEllieBellie, serif;
$default-font-size: 14px;
$light-weight: 100;
$regular-weight: 300;
$bold-weight: 500;